<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    <script src="https://unpkg.com/vee-validate@2.0.0-rc.7"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href='@Url.Action("Index","Home")'>Vue Js</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navi">
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" v-bind:class="{ active: isActive=true }">
                        <a class="nav-link" href="@Url.Action("Index","Automoviles")" v-on:click="active=isActive">Automoviles</a>
                    </li>
                    <li class="nav-item" v-bind:class="{ active: isActive}">
                        <a class="nav-link" href="@Url.Action("About", "Home")" v-on:click="active=isActive">Porque VueJS?</a>
                    </li>
                    <li class="nav-item" v-bind:class="{ active: isActive }">
                        <a class="nav-link" href="@Url.Action("Contact", "Home")" v-on:click="active=isActive">Contacto</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>

<script>
    Vue.prototype.isActive = 'false';
    var vm = new Vue({
        el: "#navi",
        data: {
        },
        methods: {
            highligh() {
            }
        }
    });
</script>
<br/>
    <div class="container body-content col-md-11">
        @RenderBody()
        <hr />
    
        <br/>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

