@model proVue.Automovil

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Automovil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Año_Fabricacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año_Fabricacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantPasajeros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantPasajeros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoTrans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTrans)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Moneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Moneda)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Auto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
